{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
    .box{
        padding:   10px;
        margin-left: 60px;
    }
    .gra{
        display:flex;
        flex-direction: column;
        margin: 40px;
        width: 600px;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
    }
    </style>
    <div class="box">
<h2 style="color: var(--text-color-2)">Graph</h2>
<p>The Graph Feature will be added soon.....</p>
<div class="gra">
    <p>Just an image</p>
<img src="https://homework.study.com/cimages/multimages/16/webp.net-resizeimage_51788547024051699765.png" alt="">
</div>
    </div>
{% endblock %}