{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
  
    body{
        background-color: rgba(182, 208, 235);
        position: relative;
      
    }
    h1{
        color: var(--text-color-2);
        margin-top: 80px;
        margin-bottom: 15px;
    }
        .home,.home2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        /* line-height: 1.7; */
    }
    
    h2,p{
        color: var(--text-color);
        /* padding-bottom: 10px; */

    }

    .uname{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 6px;
        /* padding:5px 10px; */

    }
    .name{
        padding-left:7px;
    }
    .name:hover{
        background-image: linear-gradient(to left,#f3341b,rgb(235, 85, 26),#eebe21e3);
         color: transparent;
            background-clip: text;
            font-size: 24px;
            font-weight: 600;

    }
    .set_g{
            background:linear-gradient(to left,#f81f02,rgb(245, 121, 6),rgb(224, 224, 39));
        display: flex;
        align-items: center;
        display: flex;
    align-items: center;
    align-content: center;
    padding: 14px;
    width: 86px;
    border-radius: 93px;
    position: absolute;
    top: 165px;
    right: 116px;
    z-index: 10;
    font-size: 11px;
}
    
    .set_g:hover{
            background:linear-gradient(to left,#f81f02,rgb(245, 121, 6),yellow);
            transform: scale(1.04);
            font-size: 12px;

    }

    .display_exp{
        display: flex; 
        flex-wrap: wrap;
        gap: 30px;
         justify-content: center;
         margin-top: 30px;
    }
    .today_exp{
    background: #0e3055b4; 

    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }
    .today_exp:hover,.month_exp:hover{
            background:linear-gradient(to left,#f3341b,rgb(235, 85, 26),rgba(255, 255, 0, 0.918));
            transform: scale(1.03);
        transition: background-color 0.3s ease;


    }
    .today_exp p{
font-size: 1.4em; font-weight: bold; color: #edf0f3dc;
    }
    .month_exp,.today_exp{
        margin-left: 20px;
        background: #0e3055b4;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 40px;
         box-shadow: 0 0 3px rgba(180, 174, 174, 0.5);
    }
    .month_exp p{
        font-size: 1.4em; font-weight: bold; color: #edf0f3dc;
        
    }

    .foot{
        text-align: center; margin-top: 65px;
        padding-bottom: 30px;
        
    }
    .foot a{
        padding: 10px 20px; background: #1b63e0; color: white; text-decoration: none; border-radius: 8px;
    }
    .foot a:hover{
        background-color: #437ad8e3;
        transition: background-color 0.3s ease;
        transform: scale(1.007);
    }
    @media screen and (max-width:870px){
 
    .set_g{
        display: none;
    }
    .top-line{
        display: none;
    }
    .display_exp{
        flex-direction: column;
        }
        .today_exp,.month_exp{
            /* width: 100%; */
            padding-right:20px ;
            margin-right: 20px;
        }
}
@media screen and (max-width:668px){
.nav ul{
    top: 2px;
    right: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}


}
  .nav a{
        text-decoration: none;
        color: var(--text-color);
                       background-color: #0e3055b4;
                       border-radius: 10px;
     padding: 5px 9px;
     margin: 6px;

    }
    nav ul{
        display: flex;
 /* float: right; */
position: absolute;
        right: 30px;
        top: 2px;
     /* margin-bottom: 9px; */
        text-decoration: none;
        list-style: none;
    }
      
    .nav a:hover{
            background:linear-gradient(to left,#f81f02,rgb(245, 121, 6),yellow);
            transform: scale(1.04);
    }
    .top-line{
        /* max-width: 500px; */
        min-width:70% ;
    margin: auto;
    height: 1px;
    position: absolute;
    top: 65px;
    background-color: whitesmoke;

    }

</style>

<nav>
    <div class="nav">
        <ul>
            <li><a href="/graph">Graph</a></li>
            <li><a href="/expenses">Expenses</a></li>
            <li><a target="_blank" href="https://github.com/bhaskarbaroi/Python-EXP-TRC/">Code</a></li>
            
        </ul>
    </div>
</nav>

<div class="home">
    <div class="top-line"></div>
    <h1>Welcome to our Expense Tracker </h1></div>
    <div class="uname">
    <h2>dear !  <h2 class="name">{{ username.title() }}</h2></h2></div>
    <div class="home2">

<p>Here u can add your expenses </p>
<p>Track your expenses smartly!</p>
</div>
<div class="set_g">
    <a href="/set_budget">Set Your budget</a>
</div>
</div>
<div class="display_exp">
  <div  class="today_exp"  >
    <h3>Today's Expenses</h3>
    <p >₹ {{ total_today }}</p>
  </div>
  <div class="month_exp"  >
    <h3>This Month's Total</h3>
    <p >₹ {{ total_month }}</p>
  </div>
</div>

<div class="foot"  >
  <a href="/expenses" >View Monthly Summary</a>
</div>


{% endblock %}